@model LoginViewModel

<div class="col-md-8">
<form asp-controller="User" asp-action="Login" method="post">
    <div class="all-summary text-danger" asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="@Model.email" class="form-label"></label>
        <input asp-for="@Model.email" type="text" class="form-control">
        <span asp-validation-for="@Model.email" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="@Model.password" class="form-label"></label>
        <input asp-for="@Model.password" type="password" class="form-control" >
        <span asp-validation-for="@Model.password" class="text-danger"></span>
    </div>
    
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <a href="/User/ResetPassword" class="forgot-password">Forgot Password</a>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>      
</div>